.content {
    display: flex;
    margin: 40px auto;
    padding: 0 16px;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    .container {
        display: flex;
        .form {
            border: 1px solid #d5d5d5;
            padding: 10px;
            .search-content {
                margin: 10px;
            }
        }
        .left {
            width: 100%;
        }
        .right {
            border: 1px solid #d5d5d5;
            width: 35%;
            margin-left: 5%;
        }
    }
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}
